extends layout

block head
    script(src="/javascripts/game.js")
    script= 'var gameName = \'' + game.name + '\';'
    title= 'Game ' + game.name

block content
    section(class='row')
        div(class='col-lg-3', id='start-game-button')
            button(class='btn btn-primary', ':disabled'='isDisabled', 'v-on:click'='startGame') Start Game
        div(class='col-lg-6 text-center', id='header')
            h1= 'Lunch Time [' + game.time.hour + ':' + game.time.minute + ']'
                br
                span(class='text-danger', v-if='isGameOver') Game Over!
        div(class='col-lg-3 text-right')
            p Link Share
            span= 'http://localhost:3000/games/' + game.name
    section(class='row')
        div(class='col-lg-5')
        div(class='col-lg-5')
            section(class='row', id='current-card')
                h2 Current Card
                div(class='card')
                    h4 {{name}}
            section(class='row', id='my-cards')
                h2
                    span(class='glyphicon glyphicon-glass', v-if='myTurn')
                    span(v-if='myTurn') Pick a Card
                    span(v-if='!myTurn') Wait...
                div(class='card pull-left', v-for='card in cards', 'v-on:click'='play(card)')
                    h4 {{card}}
                button(class='btn btn-info', 'v-on:click'='stay()', ':disabled'='!myTurn') Stay
                div(class='clearfix')
        div(class='col-lg-2 text-right', id='player-list')
            h3 Players
            hr
            div(v-for='player in players')
                h4
                    span(class='glyphicon glyphicon-glass', v-if='player.is_turn')
                    span {{player.name}}