extends layout

block head
  title LunchTime!
  script(src="/javascripts/index.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_8WvNJSygyFw7UFwMLYW-bqlJMTNM3Zs&libraries=places")

block content
  section(class='row')
    div(class='hidden-xs hidden-sm')
      h1 LunchTime
      p The fun way to solve the lunch debate
      button(class='btn btn-primary' data-toggle='modal' data-target='#bs-example-modal-sm') New Game
    div(class='hidden-md hidden-lg col-lg-12 text-center')
      h1(class='large') LunchTime
      p(class='lead') The fun way to solve the lunch debate
      button(class='btn btn-primary btn-lg' data-toggle='modal' data-target='#bs-example-modal-sm') New Game
    section(id='bs-example-modal-sm' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='mySmallModalLabel')
      div(class="modal-dialog modal-md" role="document")
        div(class='modal-content')
          div(class='modal-header')
            h4 Create Game
          div(class='modal-body')
            div(class="row", id='restaurant-management')
              div(class="col-lg-4") Restaurants
              div(class="col-lg-8")
                div(v-if='autoPopulateEnabled')
                  span Max
                  input(type='number', min='1', max='20', style='width: 50px;', v-model='maxAutoPopulate')
                  button(class='btn btn-info', 'v-on:click'='autoPopulate') Auto-Populate
                  span(v-if='isLoading') Loading
                div
                  input(type="text", v-model='newName')
                  button(class='btn btn-success', 'v-on:click'='addRestaurant') Add
                div
                  div(v-for='restaurant in restaurants')
                    span(class='col-lg-8') {{restaurant.name}} &nbsp;
                    button(class='btn btn-danger', 'v-on:click'='removeRestaurant(restaurant)') Remove
            div(class="row", id='lunch-time')
              div(class='col-lg-4') Time
              div(class='col-lg-8')
                div
                  input(class='hour', type='number', v-model='hour', min='1', max='12')
                  input(class='minute', type='number', v-model='minute', min='0', max='59')
          div(class='modal-footer', id='create-game-footer')
            button(class='btn btn-default' data-dismiss='modal') Close
            button(class='btn btn-primary', 'v-on:click'='createGame') Create Game