doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src="/javascripts/lib/jquery-3.2.1.min.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    script(src="/javascripts/lib/react.min.js")
    script(src="/javascripts/lib/react-dom.min.js")
    block head
  body
    block content