body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#lunch-time .hour {
  width: 20%;
}

#lunch-time .minute {
  width: 20%;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow-wrap: normal;
}